// Coff To Def
// Copyright (c) 2016-2023 Grigore Stefan <g_stefan@yahoo.com>
// MIT License (MIT) <http://opensource.org/licenses/MIT>
// SPDX-FileCopyrightText: 2016-2023 Grigore Stefan <g_stefan@yahoo.com>
// SPDX-License-Identifier: MIT

#include <XYO/CoffToDef/Application.rh>
#include <XYO/CoffToDef/Copyright.rh>
#include <XYO/CoffToDef/Version.rh>

1  ICON "Application.ico"

XYO_APPLICATION_VERSION_INFO(XYO_COFFTODEF,"exec-cgi.exe","Execute php script as cgi")
XYO_APPLICATION_MANIFEST("Application.manifest")
