// Coff To Def
// Copyright (c) 2016-2026 Grigore Stefan <g_stefan@yahoo.com>
// MIT License (MIT) <http://opensource.org/licenses/MIT>
// SPDX-FileCopyrightText: 2016-2026 Grigore Stefan <g_stefan@yahoo.com>
// SPDX-License-Identifier: MIT

#include <XYO/CoffToDef/Application.rh>
#include <XYO/CoffToDef/Copyright.rh>
#include <XYO/CoffToDef/Version.rh>

1  ICON "Application.ico"

XYO_PLATFORM_VERSION_INFO(XYO_COFFTODEF,"xyo-coff-to-def.exe","Extract symbols from COFF object and generate a DEF file for linker")
XYO_PLATFORM_MANIFEST("Application.manifest")
